* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $fontColor;
    font-family: 'Source Sans Pro', sans-serif;
}

::-webkit-scrollbar
{
   width: 6px;
   margin-right: 2px;
}

::-webkit-scrollbar-thumb
{
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
   background-color: $scrollbarsColor;
}

:focus {
    outline: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}
ul.list-inline {
    @include flex-start;
    & > li {
        margin-right: $buttons_margin;
    }
}

#app {
    height: 100vh;
    margin: auto;
}

.img100 {
    max-width: 100%;
    vertical-align: middle;
}

.contact-name {
    font-size: 17px;
}
